<%- contentFor('body') %>
<h1 center>See Users Here</h1>

<% if (message) { %>
  <p><%=message%></p>
<% } %>


<table>
	<thead>
		<tr>
			<th>RN</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
	<% users.forEach(function(user){ %>
		<tr>
			<td><%= user.RN %></td>
			<td><%= user.name %></td>
			<td><%= user.age %></td>
			<td>
				<a href="/user/del/<%= user.RN %>">Delete</a>
				<a href="/edit/<%= user.RN %>">Edit</a>
			</td>
		</tr>
	<% }) %>
	</tbody>
</table>